.chat-item {
  padding: 1rem 0.8rem;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
}

.chat-item.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-item .chat-avatar {
  height: 45px;
  width: 45px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.chat-item .chat-infos {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-item .user-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
}

.chat-item .user-infos .username {
  font-size: 1rem;
  font-weight: 500;
}

.chat-item .user-infos .timeline {
  font-size: 12px;
}

.chat-item .chat-infos .last-message {
  font-size: 14px;
  padding: 0.4rem 0;
  --max-lines: 1;
  display: --webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
