.user-list {
  position: absolute;
  width: 350px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--blue);
  color: white;
  transition: all 0.5s;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 100;
}

.user-list.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.user-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-list-topbar {
  height: 65px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.user-list-topbar .heading {
  font-size: 1.2rem;
}

.user-list-topbar .close-icon {
  height: 35px;
  width: 35px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.user-list-topbar .close-icon:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.user-list-topbar .close-icon i {
  font-size: 1.2rem;
  cursor: pointer;
}

.user-list-middle {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.user-list-wrapper .search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.user-list-wrapper .search-wrapper input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.user-list-wrapper .search-wrapper i {
  width: 35px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-wrapper {
  height: calc(100vh - 115px);
  overflow-y: scroll;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.users-wrapper .users {
  display: flex;
  flex-direction: column;
}

.users-wrapper .users .user-item {
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
}

.users-wrapper .users .user-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.users-wrapper .users .user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.users-wrapper .users .username {
  font-weight: 500;
  margin-left: 0.5rem;
}

@media (max-width: 820px) {
  .user-list {
    width: 300px;
  }
}

@media (max-width: 580px) {
  .user-list {
    width: 100%;
  }
}
